git+https://github.com/JobtechSwe/valuestore-module.git
git+https://github.com/JobtechSwe/jobtech-common.git
requests~=2.25.1
elasticsearch~=7.12.0
python-dateutil~=2.8.1
pytest~=6.2.3
beautifulsoup4~=4.9.1
certifi~=2020.12.5
