git+https://github.com/JobtechSwe/valuestore-module.git
git+https://github.com/JobtechSwe/jobtech-common.git
requests
elasticsearch
python-dateutil
pytest
pytest-runner
pytest-envfiles
flashtext
beautifulsoup4
